#card {
  border: 3px solid red;
  width: 300px;
  margin: auto;
  margin-top: 30px;
  border-radius: 15px;
  padding: 20px;
  background-color: #e0f7fa;
  text-align: center;
  box-shadow: 0px 0px 10px gray;
}
